{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="basic-box">
    <div class="row">
        <div id="about-intro" class="col-sm-3">
            <h2>What can we tell you about us?</h2>

        </div>

        <div class="col-sm-9">
        </div>
    </div>
    </div>



<div class="box-with-no-lateral-padding-transparent">
        <div class="row about-internal-box">
            <div class="col-sm-12 about-header-section"><span class="about-header">Our timeline</span></div>
            <div class="col-sm-4">
                <h3 class="firstColour">Past</h3>
                    <p>Ut enim ad minim veniam, quis 2010 nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-sm-4">
                <h3 class="firstColour">Present</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-sm-4">
                <h3 class="firstColour">Future</h3>
                    <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur esse cillum dolore.</p>
            </div>
        </div>

    </div>


<div class="box-with-no-lateral-padding-colour">
    <div class="row about-internal-box" >
        <div class="col-sm-12 about-header-section"><span class="about-header">Our people</span></div>
        <div class="col-sm-4">
                <h3 class="firstColour">A big family</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-sm-4 about-team"><hr><p>77 guys</p></div>
            <div class="col-sm-4 about-team"><hr><p>14 teams</p></div>
        
                
          
    </div>
    </div>

<div class="box-with-no-lateral-padding-transparent">
        <div class="row about-internal-box">
            <div class="col-sm-12 about-header-section"><span class="about-header">Our offices</span></div>
            <div class="col-sm-4">
                <h3 class="firstColour">US</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <b>New York</b> commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-sm-4">
                <h3 class="firstColour">Ireland</h3>
                    <p>Duis aute <b>Dublin</b> irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-sm-4">
                <h3 class="firstColour">UK</h3>
                    <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim <b>London</b> veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur esse cillum dolore.</p>
            </div>
        </div>

    </div>

  <div class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">

  	<ol class="carousel-indicators">
	    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>
	<div class="carousel-inner" role="listbox">
		<div id="carousel-slide-1" class="item active"></div>
		<div id="carousel-slide-2" class="item"></div>
        <div id="carousel-slide-3" class="item"></div>
	</div>
</div>


    <div class="basic-box-2">

    <div class="maps-box">
        <div class="row">
            <div class="col-sm-3">

                <h3 class="firstColour">US office</h3>
                <p><b>Visit us</b><br>
                15 Wall Street<br>
                10005 New York<br>
                US</p>
                <p><b>Call us</b><br>
                Mon-Fri<br>
                08.00-18.00<br>
                +1 5765436346</p>

            </div>
            <div class="col-sm-9">
                <div id="map3" class="map-dimensions" ></div>
            </div>
        </div>
    </div>

     <div class="maps-box">
        <div class="row">
            <div class="col-sm-3">

                <h3 class="firstColour">Ireland office</h3>
                <p><b>Visit us</b><br>
                15 Merrion Street Upper<br>
                Dublin 2<br>
                Ireland</p>
                <p><b>Call us</b><br>
                Mon-Fri<br>
                08.00-18.00<br>
                +353 5765436346</p>

            </div>
                <div class="col-sm-9">  <div id="map2" class="map-dimensions" ></div>
            </div>
        </div>
    </div>

    <div class="maps-box">
        <div class="row">
            <div class="col-sm-3">

                <h3 class="firstColour">UK office</h3>

                <p><b>Visit us</b><br>
                221 Baker Street<br>
                NW1 6XE London<br>
                UK</p>
                <p><b>Call us</b><br>
                Mon-Fri<br>
                08.00-18.00<br>
                +44 5765436346</p>

            </div>
            <div class="col-sm-9">
                <div id="map" class="map-dimensions"></div>
            </div>
        </div>
    </div>

</div>




{% endblock %}

