{% extends "base.html" %}
{% block content %}
<div class="box-with-no-lateral-padding-transparent">
    <div class="row about-internal-box">
        <div  class="col-sm-3">
            <h2 class="firstColour">Keep your business updated.</h2>
            <br>
            <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div id ="" class="col-sm-9"></div>
    </div>
    <div class="row about-internal-box">
        <div class="col-sm-4">
            <h2>In-company training</h2>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur esse cillum dolore.</p>
        </div>
    </div>
    <div class="row about-internal-box">
        <div class="col-sm-4">
            <h2>Summer workshops</h2>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. La ullamco laboris nisi ut aliquip ex ea commodo consequat. ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse fugiat nulla. Duis aute irure dolor in reprehenderit. Allamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row about-internal-box">
        <div class="col-sm-4">
            <h2>And don't forget our <a href="/pages/summit/"><span class="firstColour">summit</span> </a>!</h2>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Aliquip ex ea commodo consequat <b>Fintopics</b> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. La ullamco laboris nisi ut aliquip ex ea commodo consequat. ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
        </div>
        <div class="col-sm-4">
            <hr>
            <p>Veniam quis nostrud exercitation ullamco laboris commodo consequat. Duis aute irure voluptate velit esse fugiat nulla. </p>
            <br>
            <a href="/pages/summit/"  class="btn btn-default btn-md standard-style-button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp; Fintopics Summit</a>
        </div>
    </div>
</div>

<div class="product-background-image rules-for-section-with-image">
    <div class="row">
		<div class="col-sm-5"></div>
        <div class="col-sm-3 text-for-section-with-image-1">
			<h3><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;Break down your <b>walls</b>.</h3>
		</div>
		<div class="col-sm-3 text-for-section-with-image-2">
			<h3><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>&nbsp;&nbsp;<b>Expand</b> your business.</h3>
		</div>
        <div class="col-sm-1"></div>
	</div>
</div>

<div class="table-box">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="table-col-product-name">Name</th>
                        <th class="table-col-description">Description</th>
                        <th class="table-col-price">Price</th>
                        <th class="table-col-purchase">Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="table-col-name"><b>{{ product.name }}</b></td>
                            <td class="table-col-description">{{ product.description }}</td>
                            <td class="table-col-price"> &euro; {{ product.price }}</td>
                            <td class="table-col-purchase">{{ product.paypal_form.sandbox }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}