{% extends "base.html" %}
{% block content %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load emoticons_tags %}
<div class="basic-box blog-background">
   <div class="row">
        <div class="col-md-2 text-center"><!-- Profile picture and link to author info -->
            <a class=" post-author-fullname" href="{% url 'member_detail' post.author.id %}">
                {% if post.author.user_profile_picture %}
                    <img src="/{{ post.author.user_profile_picture}}" height="90px" width="90px">
                {% else %}
                    <img src="http://placehold.it/100" style="width:90px; height: 90px;" class="img-circle">
                {% endif %}
                <h5>{{ post.author.first_name }} {{ post.author.last_name }}</h5>
            </a>
        </div><!-- End profile picture and link to author info -->
        <article class="col-md-10">
            <h2 class="thirdColour">{{ post.title }}</h2>
            <br>
            <div class="row">
                <div class="col-sm-9">
                    {% if post.image %}
                        <img src="/{{ post.image }}" height="100%" width="100%">
                    {% endif %}
                    <hr>
                    <p>
                        {% autoescape off %}
                            {{ post.content|emoticons }}
                        {% endautoescape %}
                    </p>
                    <br>
                    <button class="btn btn-md btn-default standard-style-button" onclick="location.href='/blog'"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp; Back to blog</button>
                    <hr>
                    <p>{{ post.published_date }}     &nbsp;|&nbsp;   <strong>VIEWS</strong>&nbsp; {{ post.views }} &nbsp;|&nbsp;     <strong>TAGS</strong>&nbsp; {{ post.tag }}</p>
                    <br>
                    {% load disqus_tags %}
                    {% set_disqus_title post.title %}
                    {% disqus_show_comments %}
                </div>
                <div class="col-sm-3"></div>
            </div>
        </article>
    </div>
</div>
{% endblock %}