{% extends "base.html" %}

{% block content %}
{% load bootstrap_tags %}
     {% load staticfiles %}

    <div class="basic-box">
       <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="http://placehold.it/100" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                </a>
            </div>
            <div class="col-md-10 col-sm-9">
                <h2 class="secondColour">{{ post.title }}</h2><br>
                <div class="row">
                    <div class="col-xs-9">
                        {% if post.image %}
                            <img src="/{{ post.image }}" height="500px" width="600px">
                        {% endif %}
                        <hr>
                        <p>{{ post.content }}</p>
                        <br>
                        <button class="btn btn-md btn-default standard-style-button" onclick="location.href='/blog'"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp; Back to blog</button><hr>
                        <p>{{ post.published_date }}     |    <strong>Views</strong> {{ post.views }} |    <strong>Tag</strong> {{ post.tag }}</p>
                        {% load disqus_tags %}
                        {% set_disqus_title post.title %}
                        {% disqus_show_comments %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}