{% extends 'base.html' %}
{% block content %}

<div id="wrapper" class="container">
    <section class="intro-steps-1 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>From <b>your</b> computer.</p>					
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9">
				</div>
			</div>
		</div>
	</section>
	<section class="intro-steps-2 parallax-standard-block">
		<div class="container">
			<div class="row">
			<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9"></div>				
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>To the <b>world</b>.</p>
				</div>				
			</div>
		</div>
	</section>
	<section class="intro-steps-4 parallax-standard-block">
		<div class="container">
			<div class="row">				
				<div  class="col-xs-12 col-sm-6 col-md-6 col-lg-3 home-text-image">
					<p>Get <b>connected</b>.</p>					
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-9">
				</div>
			</div>
		</div>
	</section>
    <div class="box-with-no-lateral-padding-transparent">
        <div class="row internal-box-for-content">
            <div class="col-sm-4">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud aute irure dolor in reprehenderit exercitation ullamco laboris nisi <b>ut aliquip ex ea commodo</b> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  ullamco laboris nisi ut aliquip ex ea commodo consequat. Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-sm-4">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur ullamco laboris nisi ut aliquip ex ea commodo consequat. Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur zullamco laboris nisi ut aliquip ex ea commodo consequat. Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. <b>Don't wait more!</b></p>
            </div>
            <div class="col-sm-4">
             	<div class="center-button">
					<a href="{% url 'register' %}" class="btn btn-default btn-lg standard-style-button"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp; Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
