{% extends 'base.html' %}
{% block content %}


<div id="wrapper" class="container">

    <section class="intro-steps-1 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">
				</div>
				<div id="summit-step-1" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>01.</b></span> Show your idea</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor <b>incididunt ut labore et dolore magna aliquat enim ad minim veniam,
					quis nostrud exercitation</b> ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="intro-steps-2 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div id="summit-step-2" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>02.</b></span> Learn the latest</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis <b>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat</b>. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>
<!--
	<section class="intro-steps-3 parallax-standard-block">
		<div class="container ">
			<div class="row">
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8">
				</div>
				<div id="summit-step-3" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>03.</b></span> Meet the folk</p>
					<br>
					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <b>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</b> consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

				</div>
			</div>
		</div>
	</section>
-->
	<section class="intro-steps-4 parallax-standard-block">
		<div class="container">
			<div class="row">
				<div id="summit-step-4" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<p class="explanatory-step-box"><span class="secondaryFont"><b>04.</b></span> Find a project</p>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis <b>aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat</b> nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</div>
				<div class="col-xs-0 col-sm-6 col-md-6 col-lg-8"></div>
			</div>
		</div>
	</section>


    </div>
{% endblock %}
