{% extends "base.html" %}
{% block content %}
    <div class="basic-box">
        {% for user in details %}



            <div class="row">
                    <div class="col-sm-3">
                    <div class="member-details-image">
                        {% if not user.user_profile_picture %}
                              <img src="http://placehold.it/100" style="width:300px; height: 300px; ;" class="img-circle">
                        {% else %}
                            <img src="/{{ user.user_profile_picture }}" height="300px" width="300px">
                        {% endif %}
                    </div>

                    </div>
                    <div class="col-sm-9 member-details-info">
                        <hr>
                        <h4 class="firstColour"><b>{{ user.first_name }} {{ user.last_name }}</b></h4>
                        <hr>
                        <div class="row">
                            <div class="col-sm-1">Email</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.username }}</b></div>
                            <div class="col-sm-1">City</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.city }}</b></div>
                            <div class="col-sm-1">Country</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.country}}</b></div>
                            <div class="col-sm-1">Education</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.education }}</b></div>
                            <div class="col-sm-1">Interest</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.interest }}</b></div>
                            <div class="col-sm-1">Joined</div>
                            <div class="col-sm-11 firstColour"><b>{{ user.date_joined }}</b></div>



                        </div>
                         <hr>
                    <a href="{% url 'members'%}"  class="btn btn-default btn-md standard-style-button">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;Members
                                    </a>


                    </div>


            </div>

    {% endfor %}






    </div>
{% endblock %}