{% extends "base.html" %}
{% block content %}
    <div class="basic-box profile-background">
    <div class="row">
    <div class="col-sm-8 "></div>
        <div  id="profile-info" class="col-sm-4">
            <h3>Switch <span class="firstColour"><b>on</b></span> your business mode!</h3>
            <hr>
            <h3 class="firstColour"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Account info</h3>
        <p>You are logged in as <b>{{ user.email }}</b> </p>
        <p>Your stripe id is <b>{{ user.stripe_id }}</b> </p>
        <hr>
        <h3 class="firstColour"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>&nbsp;&nbsp;Subscription details</h3>
        <p>You have <b>{{ user.subscription_end|timeuntil}}</b> left on your subscription</p>
        <p>To cancel your subscription:</p>
        <p>
        <br>
            <a href="{% url "cancel_subscription" %}"
               onclick="return cancelSubscriptionCheck();"
               class="btn btn-md btn-danger">Cancel Subscription</a>
        </p>
        </div>
    </div>

        
    </div>


    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you want to cancel?')) {
                return true;
            }

            return false;
        }
    </script>

{% endblock %}