{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}
    <div class="basic-box form-frame">

        <div class="row">
            <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <form role="form" method="post" id="" action="{% url 'register' %}">

                      <div class="alert-message block-message error" id="stripe-error-message"></div>


                    <legend>Create a new account. &nbsp;<b>Join us!</b></legend>
                    {% csrf_token %}
                    {{ update_profile_form|as_bootstrap }}
                    <div class="form-group">
                            <button type="submit" class="btn btn-md btn-default standard-style-button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Send</button>

                    </div>
                  </form>
                </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
{% endblock %}