{% extends "base.html" %}
{% block content %}

<div class="box-with-no-lateral-padding-transparent">

    <div class="row internal-box-for-content-with-title">
        <div  class="col-sm-4">
            <h2><span class="firstColour">Fintopics</span>  <b><span class="fifthColour">SUMMIT</span></b><sup><span class="secondFont firstColour">16</span></sup></h2>
            <br>
            <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div id ="" class="col-sm-8"></div>
    </div>

    <div class="row internal-box-for-content-with-title">
        <div class="col-sm-12 small-section-with-header"><span class="header-style-for-small-section">Winter summit</span></div>
        <div class="col-sm-4">
            <h3 class="firstColour">Learn</h3>
            <p>Ut enim ad minim veniam, quis 2010 nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-sm-4">
            <h3 class="firstColour">Share</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-sm-4">
            <h3 class="firstColour">Raise funds</h3>
            <p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur esse cillum dolore.</p>
        </div>
    </div>

    <div class="row internal-box-for-content-with-title">
        <div class="col-sm-12 small-section-with-header"><span class="header-style-for-small-section">Addressee</span></div>
        <div class="col-sm-4">
            <h3 class="firstColour">@entrepreneurs</h3>
            <p>Cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis <b>nostrud exercitation ullamco laboris nisi</b>
                ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
        <div class="col-sm-4 slogan-summit">
            <h2>The meeting point<br>you're looking for.</h2>
        </div>
        <div class="col-sm-4">
            <h3 class="firstColour">@funders</h3>
            <p>Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi laboris nisi ut aliquip ex ea commodo
                consequat ut aliquip ex ea commodo consequat. Duis aute irure dolor in <b>reprehenderit in voluptate velit</b> esse
                cillum dolore eu fugiat nulla pariatur esse cillum dolore.</p>
        </div>
    </div>
</div>

<div class="summit-background-image-seats rules-for-section-with-image">
    <div class="row">
		<div class="col-sm-5"></div>
        <div  class="col-sm-3 "></div>
        <div class="col-sm-3 text-for-section-with-image-1">
			<h3><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;Discover the <b>latest</b> trends.</h3>
		</div>
        <div class="col-sm-1"></div>
	</div>
</div>

<div class="box-with-no-lateral-padding-colour">
    <div class="row internal-box-for-content-with-title" >
        <div class="col-sm-12 small-section-with-header"><span class="header-style-for-small-section">Details</span></div>
        <div class="col-sm-4">
            <h3 class="firstColour"></h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-sm-4 about-team">
            <hr>
            <p>20<sup>th</sup> Dec</p>
        </div>
        <div class="col-sm-4 about-team">
            <hr>
            <p>Dublin</p>
        </div>
    </div>
</div>

<div class="box-with-no-lateral-padding-transparent">
    <div class="row internal-box-for-content-with-title">
        <div class="col-sm-12 small-section-with-header">
            <span class="header-style-for-small-section">Testimonials</span>
        </div>
        <div class="col-sm-4">
            <h2><q>Reprehenderit in voluptate velit esse
			cillum pariatur. Excepteur sint cupidatat non
			proident.</q></h2>
			<h3>Arthur McGregor</h3>
			<h5>CFO - Green Bank</h5>            
        </div>
        <div class="col-sm-4">
            <h2><q>Occaecat cupidatat non proident, sunt in culpa qui officia.</q></h2>
			<h3>Margaret O'Connor</h3>
			<h5>Professor - IBP Business School</h5>            
        </div>
        <div class="col-sm-4">
			<h2><q>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</q></h2>
			<h3>David Smith</h3>
			<h5>CEO &amp; Founder - Mapattack</h5>
        </div>
    </div>
</div>

<div class="summit-background-image-calendar rules-for-section-with-image">
    <div class="row">
		<div class="col-sm-5"></div>
        <div  class="col-sm-3 "></div>
        <div class="col-sm-3 text-for-section-with-image-2">
			<h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;&nbsp;Don't <b>miss</b> this opportunity.</h3>
		</div>
        <div class="col-sm-1"></div>
	</div>
</div>

 <div class="box-with-no-lateral-padding-transparent">
    <div class="row internal-box-for-content">
        <div class="col-sm-4">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Ut enim ad minim veniam, quis nostrud aute irure dolor in <b>reprehenderit exercitation ullamco</b>
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur  ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-sm-4">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur zullamco laboris <b>nisi ut aliquip ex
            ea commodo</b> consequat. Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
        </div>
        <div class="col-sm-4">
            <div class="center-button">
                <a href="" class=" btn-lg standard-style-button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp; Visit <b>Fintopics</b> website!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}