{% extends "base.html" %}
{% block content %}
    <div class="basic-box">
        {% for contact in details %}
            <p>First name: <b>{{ contact.first_name }}</b></p>
            <p>Last name: <b>{{ contact.last_name }}</b></p>
            <p>Email: <b>{{ contact.email }}</b></p>
            <p>Address: <b>{{ contact.address }}</b></p>
            <p>City: <b>{{ contact.city }}</b></p>
        {% endfor %}
        <a href="{% url 'contacts' %}" class="btn btn-link">Contact list</a>
    </div>
{% endblock %}