{% load staticfiles %}
{% load emoticons_tags %}


<section class="row comment" >
    <div class="col-sm-3 comment-profile" >
        <div class="comment-content" >
        <p><img src="http://placehold.it/100" class="img-circle image-profile"></p><br> <!--Maybe it's better create a specific folder for profile pics. -->
        <p class="firstColour"><b>{{ post.user.username }}</b></p>
        <p>{{ post.user.posts.count }} Posts</p>
        <p><b>Post reference</b> # {{ post.id }}</p>
            </div>

    </div>
    <div class="col-sm-9" >
        <div class="comment-content">
            {% autoescape off %}
                {{ post.comment|emoticons }}
            {% endautoescape %}
        </div>

    </div>

<div class="col-sm-12" ><hr>{% include "forum/comment_details.html" %}</div>

</section>
