{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    <div class="basic-box">
        <div class="row">
            <div class="col-sm-3">
                <h2>{{ subject.name }}</h2>
            </div>
            <div class="col-sm-3">
            dfgbdsh
            </div>
            <div class="col-sm-3">GGG</div>
            <div class="col-sm-3"></div>
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                        <p>
                            <a href="{% url 'new_thread' subject.id %}" class="btn btn-primary">New Thread</a>
                        </p>
                    {% endif %}
                    {% for thread in subject.threads.all %}
                        {% include "forum/thread_item.html" %}
                    {% endfor %}
                </div>
        </div>
        <a href="{% url 'forum' %}" class="btn btn-primary">Subjects</a>
    </div>
{% endblock %}